In [1]:
import pandas as pd

df = pd.read_csv('../data/melbourne_housing.csv')

#drop rows with missing values
df = df.dropna()

#Convert date to datetime format
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)

#Convert price to float
df['Price'] = df['Price'].astype(float)

#Get year sold 
df['YearSold'] = df['Date'].dt.year

#Calculate years since sale
current_year = 2026
df['YearsSinceSale'] = current_year - df['YearSold']

#Annual Growth rate (6.5% per year)
annual_growth_rate = 0.065

#Calculate adjusted price
df['Price_Adjusted'] = df['Price'] * ((1 + annual_growth_rate) ** df['YearsSinceSale'])


df.head()
df[['Price','YearSold','YearsSinceSale','Price_Adjusted']].head(10)

       Price  YearSold  YearsSinceSale  Price_Adjusted
0  1480000.0      2016              10    2.778163e+06
1  1035000.0      2016              10    1.942837e+06
2  1465000.0      2017               9    2.582166e+06
3   850000.0      2017               9    1.498185e+06
4  1600000.0      2016              10    3.003420e+06
5   941000.0      2016              10    1.766386e+06
6  1876000.0      2016              10    3.521510e+06
7  1636000.0      2016              10    3.070997e+06
8   300000.0      2016              10    5.631412e+05
9  1097000.0      2016              10    2.059220e+06

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13518 entries, 0 to 13579
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Suburb          13518 non-null  object
 1   Address         13518 non-null  object
 2   Rooms           13518 non-null  int64
 3   Type            13518 non-null  object
 4   Price           13518 non-null  float64
 5   Date            13518 non-null  datetime64[ns]
 6   Distance        13518 non-null  float64
 7   Postcode        13518 non-null  int64
 8   Bathroom        13518 non-null  int64
 9   Car             13518 non-null  float64
 10  Landsize        13518 non-null  int64
 11  YearSold        13518 non-null  int32
 12  YearsSinceSale  13518 non-null  int32
 13  Price_Adjusted  13518 non-null  float64
dtypes: datetime64[ns](1), float64(4), int32(2), int64(4), object(3)
memory usage: 1.4+ MB

In [3]:
feature_columns = ['Rooms', 'Distance', 'Bathroom',  'Car', 'Landsize', 'YearSold', 'YearsSinceSale']

X_Input = df[feature_columns]
Y_Output = df['Price_Adjusted']

print(X_Input.head())
print(Y_Output.head())

   Rooms  Distance  Bathroom  Car  Landsize  YearSold  YearsSinceSale
0      2       2.5         1  1.0       202      2016              10
1      2       2.5         1  0.0       156      2016              10
2      3       2.5         2  0.0       134      2017               9
3      3       2.5         2  1.0        94      2017               9
4      4       2.5         1  2.0       120      2016              10
0    2.778163e+06
1    1.942837e+06
2    2.582166e+06
3    1.498185e+06
4    3.003420e+06
Name: Price_Adjusted, dtype: float64